# Tweak this configuration file if you have different paths for the files.
# You can either set the paths relative to the project's root directory or use absolute paths.
# The example paths below are all relative to the project's root.

readonly CFG_ROOT_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
readonly ROOT_PATH_PUMPOS_PROJECT="$CFG_ROOT_PATH/../../.."

PUMPOS_ROOT="/mnt/pumpos/pumpos"
PUMPTOOLS_CONF_PATH="$ROOT_PATH_PUMPOS_PROJECT/cfg/piu/pumptools/cabinet.cfg"