# Tweak this configuration file if you have different paths for the files.
# You can either set the paths relative to the project's root directory or use absolute paths.
# The example paths below are all relative to the project's root.

readonly CFG_ROOT_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
readonly ROOT_PATH_PUMPOS_PROJECT="$CFG_ROOT_PATH/../../.."

PUMPOS_ROOT="/mnt/pumpos/pumpos"
OPENITG_ZIP_PATH="$ROOT_PATH_PUMPOS_PROJECT/../openitg/build/docker/build/package/openitg-linux.zip"
DDR_MAME_ZIP_PATH="$ROOT_PATH_PUMPOS_PROJECT/../../djhackers/ddr-mame/ddr-mame/build/docker/build/package/ddr-mame-linux.zip"
DDR_MAME_DDRIO_ZIP_PATH="$ROOT_PATH_PUMPOS_PROJECT/../../djhackers/ddr-mame/ddrio/build/docker/ddrio.zip"
DDR_MAME_ROMS_PATH="$ROOT_PATH_PUMPOS_PROJECT/../../djhackers/ddr-mame-roms/roms"
ITG_DATA_PATH="$ROOT_PATH_PUMPOS_PROJECT/../openitg-data/data/pumpos"
SGL_ZIP_PATH="$ROOT_PATH_PUMPOS_PROJECT/../../sgl/build/docker/package/sgl-linux.zip"
SGL_ASSET_PATH="$ROOT_PATH_PUMPOS_PROJECT/../../sgldata/data/itg"